
//
// _global.scss
//

body, html {
    font-family: $font-family;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#app {
    
    width: 100%;
    height: 100%;
    
}

p { margin : 0px !important; }

a {
    
    outline: 0 !important;
    text-decoration: none;
    
    &:hover, :active, :visited, :link {
        
        outline: 0 !important;
        text-decoration: none;

        
    }
    
}


.seo {
    
    display: none;
    
}
