//
// _mixins.scss

@mixin transition($ms) {
  -webkit-transition: all ease $ms;
     -moz-transition: all ease $ms;
      -ms-transition: all ease $ms;
       -o-transition: all ease $ms;
          transition: all ease $ms;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
